<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div id="disqus_thread"></div>
                <p class="copyright text-muted">
                    &copy; 2017-2019 Ting Zhou
                </p>
                <p class="copyright text-muted">
                    Powered By <a target="_blank" href="https://hexo.io/">Hexo.</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<% if (config.disqus_shortname){ %>
    <script>
        var disqus_shortname = '<%= config.disqus_shortname %>';
        var if_show = true;
        <% if (page.permalink){ %>
        var disqus_url = '<%= config.url +"/"+ page.path %>';
        var regex = /ztlevi\.github\.io\/about/
        if_show = !regex.test(disqus_url);
        <% } %>
        // about me page not showing disqus
        if (if_show) {
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document,
                    s = d.createElement('script');
                s.src = 'https://' + disqus_shortname + '.disqus.com/<% if (page.comments){ %>embed.js<% } else { %>count.js<% } %>';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        }
    </script>
    <% } %>
