<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
	<div id="sidebar">
	<% theme.widgets.forEach(function(widget){ %>
			<%- partial('../_widget/' + widget) %>
		<% }); %>
	</div> <!-- sidebar -->
</div> <!-- col-md-3 -->
