<!-- Archive Header -->
<%- partial('_partial/header', {headerType: 'archive'}) %>
<!-- Archive List -->
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-9">
      <% page.posts.each(function(post){ %>
        <%- partial('_partial/archive-entry', {post: post, index: true}) %>
      <% }) %>

    </div>
    <% if (theme.widgets.length) { %>
    <%- partial('_partial/sidebar') %>
    <% } %>
  </div>
</div>

<%- partial('_partial/pagination') %>
