.tag_box
  a
    span
      vertical-align super
      font-size 0.8em

.widget
    border-bottom 1px solid $theme-seperator
    padding 0.5rem 0

// .widget h4
//     border-bottom: 2px solid #3AC1D6
//     display: inline-block;

.blogroll
    li
        a
            display block

li
  i
    margin-right 5px
    margin-left 5px

#local-search-result
    overflow-y scroll
    max-height 3in

#sidebar
    padding 2.5rem 0
