.tag_box
  a
    span
      vertical-align: super
      font-size: 0.8em

#sidebar
    padding: 2.5rem 0

.widget
    border-bottom: 1px solid #e1e1e1
    padding: 0.5rem 0

.blogroll
    li
        a
            display: block

// .widget h4
//     border-bottom: 2px solid #3AC1D6
//     display: inline-block;

#local-search-result
    overflow-y: scroll
    max-height: 3in

li
  i
    margin-right: 5px
    margin-left: 5px
